.promoContainer{
    display: flex;
    flex-direction: column;
    margin-left: 155px;
}

.welcomeTitle{
    margin-top: 160px;
    font-weight: 500;
    font-size: 22px;
    color: #9B5381;
    text-transform: uppercase;
}

.quote{
    margin-top: 55px;
    font-weight: 100;
    font-size: 75px;
    color: #7A1655;
}

.quote strong{
    text-transform: uppercase;
}

.chooseOption{
    color: #BEBEBE;
}

.selectCity{
    border: 1px solid #000;
    color: #000;
    width: 700px;
    height: 70px;
    margin-top: 70px;
    padding: 0 20px;
    font-size: 18px;
}